@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base{
  html, body{
    @apply font-dm
  }
  button, input, textarea, select{
    @apply focus:outline-none focus:ring-0 focus:border-inherit  bg-transparent
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      @apply absolute -left-[9999px] 
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
     @apply relative pl-8 cursor-pointer leading-[20px] inline-block  
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before { 
      content: ''; 
       @apply absolute left-0 top-0 w-5 h-5 border border-brand-gray-light-200 rounded-full bg-white; 
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
       @apply absolute left-[5px] top-[5px] w-[10px] h-[10px] transition-all duration-200 ease-in rounded-full bg-brand-pink;  
  }
  [type="radio"]:not(:checked) + label:after {
      @apply opacity-0 scale-0
  }
  [type="radio"]:checked + label:after {
     @apply opacity-100 scale-100 
  }
}
@layer utilities{
  .cutsom-checkbox-row  input[type="checkbox"]:checked + label span { 
  @apply !text-brand-dark-blue
  }
  .top-arrow{
    @apply after:absolute after:top-0 after:left-10 after:-ml-[15px] after:-mt-[14px] after:w-0 after:z-10 after:h-0 after:border-b-[15px] after:border-white after:border-l-[15px] after:border-l-transparent after:border-r-[15px] after:border-r-transparent
  }
  .burger__active .burger{
    @apply hidden
  }
  .burger__active .times{
    @apply block
  }
  .slick--tag .slick-slide{
    @apply !w-auto border-r leading-[1]
  } 
   .slick--tag .slick-slide:last-child {
    @apply border-r-0
   }
   .dark .slick-slide{
    @apply !border-r-0
   }
  .slick--tag .slick-slide:first-child a{
    @apply !pl-0
  }
  .slick--tag .slick-slide:last-child a{
    @apply !pr-0
  }
  .showcase .slick-slide{
    @apply !w-auto
  }
   .showcase .slick-slide:first-child{
    @apply pl-2.5
  }
  .showcase .slick-slide:first-child .item{
        @apply !pl-0
  }
  .showcase .slick-slide:last-child .item{
        @apply !pr-0
  }

  
   .product-info .slick-slide ,
   .product-slider .slick-slide {
        margin: 0 6px;
    }
    .product-info .slick-list ,
    .product-slider .slick-list {
        margin-left:  -6px;
    }

  @media (min-width: 768px) {
      .product-info .slick-slide ,
     .product-slider .slick-slide {
        margin: 0 10px;
    } 
      .product-info .slick-list ,
    .product-slider .slick-list {
           margin-left:  -10px;
    }
  }

  .sidebar-active{
    @apply relative bg-brand-gray-light-100 before:absolute before:right-0 before:top-0 before:h-full before:w-0.5 before:bg-brand-pink
  }


  .open > h2{
    @apply text-brand-dark-blue
  }
  .open .accordion-icon svg{
    @apply rotate-180 fill-brand-dark-blue
  }
  .active > div{
    @apply bg-brand-pink border-brand-pink
  }
  .tab-active p{
    @apply text-brand-dark-blue
  }
  .tab-active svg{
    @apply fill-brand-dark-blue
  }
  .account-info.active-menu svg:last-child {
    @apply rotate-180 
  }

  .active-row{
    @apply border-brand-pink text-brand-pink
  }
  .active-row td{
    @apply border-brand-pink text-brand-pink border-y
  }
}
 
.jq-star-svg {
	width: 18px;
	height: 18px;
}
 

  